.avisos-child {
  padding:80px;
  	background-color: #fff;
  	width: 100%;
  	height: 761px;
}
.fique-atenta-aos {
  	position: absolute;
  	top: 80px;
  	left: calc(50% - 271px);
  	text-shadow: 3px 5px 8px rgba(0, 0, 0, 0.25);
}
.lembrete-child {
  	position: relative;
  	height: 100%;
  	width: 100%;
  	top: 0%;
  	right: 0%;
  	bottom: 0%;
  	left: 0%;
  	border-radius: 8px;
  	background-color: #ffd9e2;
}
.evite-fazer-a {
  	font-family: Poppins;
}
.por-pelo-menos {
  	font-weight: 500;
  	font-family:Poppins;
}
.do-atendimento-para {
  	font-weight: 500;
}
.evite-fazer-a-cutilagem-por-pe {
  	margin: 0;
  	font-size: inherit;
  	padding-left: 21px;
}
.evite-fazer-a-container {
  	position: absolute;
  	width: 78.2%;
  	top: 25.38%;
  	left: 8.2%;
  	display: inline-block;
}
.esteja-disponvel-no-container {
  	position: absolute;
  	width: 79%;
  	top: 49.49%;
  	left: 8.2%;
  	display: inline-block;
}
.em-caso-de-container {
  	position: absolute;
  	width: 79%;
  	top: 73.59%;
  	left: 7.2%;
  	display: inline-block;
}
.leia-com-carinho {
  	position: absolute;
  	top: 2.82%;
  	left: calc(50% - 131px);
  	font-size: 24px;
  	display: inline-block;
  	width: 262px;
}
.lembrete {
  	position: absolute;
  	top: 0px;
  	left: 0px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	width: 500px;
  	height: 390px;
  	font-size: 16px;
}
.nail-art {
  	position: absolute;
  	top: 6.67%;
  	left: calc(50% - 59px);
}
.lembrete-nail-art-item {
  	position: absolute;
  	top: 85px;
  	left: calc(50% - 60px);
  	border-radius: 6px 6px 0px 0px;
  	width: 120px;
  	height: 86px;
  	object-fit: cover;
}
.lembrete-nail-art-inner {
  	position: absolute;
  	top: 157px;
  	left: calc(50% - 111px);
  	border-radius: 0px 0px 6px 6px;
  	width: 90px;
  	height: 90px;
  	object-fit: cover;
}
.rectangle-icon {
  	position: absolute;
  	top: 165px;
  	left: calc(50% - 15px);
  	border-radius: 0px 0px 6px 6px;
  	width: 90px;
  	height: 90px;
  	object-fit: cover;
}
.as-nail-arts-container {
  	position: absolute;
  	top: 274px;
  	left: 36px;
  	font-size: 16px;
  	display: inline-block;
  	width: 428px;
}
.lembrete-nail-art {
  	position: absolute;
  	top: 0px;
  	left: 525px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	width: 500px;
  	height: 390px;
}
.localizao1 {
  	position: absolute;
  	top: 6.67%;
  	left: calc(50% - 73px);
}
.lorem-ipsum-sollicitudin {
  	position: absolute;
  	top: 290px;
  	left: calc(50% - 135px);
  	font-size: 16px;
  	font-weight: 500;
  	display: inline-block;
  	width: 271px;
}
.localizao-item {
  	position: absolute;
  	top: 74px;
  	left: 104px;
  	border-radius: 5px;
  	width: 300px;
  	height: 200px;
  	object-fit: cover;
}
.localizao {
  	position: absolute;
  	top: 0px;
  	left: 1050px;
  	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  	width: 500px;
  	height: 390px;
}
.avisos1 {
  	position: absolute;
  	top: 196px;
  	left: 162px;
  	width: 1071px;
  	height: 399px;
  	overflow-x: auto;
  	font-size: 24px;
  	color: #383838;
}
.avisos {
  	width: 100%;
  	position: relative;
  	height: 761px;
  	text-align: left;
  	font-size: 40px;
  	color: #d43d63;
  	font-family: Poppins;
}

