header{
  width: 100%;
  padding: 28px 8%;
}

#navbar{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#nav-logo{
 width: 90px;
position: relative;
max-width: 100%;
overflow: hidden;
max-height: 100%;
object-fit: cover;
}

#nav-list {
  display: flex;
  list-style:none ;
  gap: 48px;
}

.nav-item a{
  text-decoration: none;
  color:#383838;
}

.nav-item.active a{
  color:#383838;
  border-bottom: 3px solid #D97790;
}

#mobile_btn{
  display: none ;
}

#mobile-menu{
  display: none;
}

@media screen and  (max-width:1170px) {
  #nav-list, .bnt-default{
    display: none;
  }
  #mobile_btn{
display: block;
border: none;
background-color: transparent;
font-size: 1.5rem;
cursor: pointer;
  }

  #mobile-menu.active{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #mobile-menu .bnt-default{
    display: block;
    margin-top: 10px;
  }
}

#mobile-nav-list{
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin: 12px 0px;
}

#mobile-nav-list .nav-item{
list-style: none;
text-align: center;
}

