#home {
  display: flex;
  min-height: calc(100vh - 136px);
  align-items: center;
  padding: 0.5em;
  box-sizing: border-box;
}

#cta {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 0;
}

#cta .title {
  font-size: 3.2em;
  color: #383838;
  margin-left: 0;
  margin-top: 5px;
}

#cta .title p {
  color: #d43d63;
  margin-top: 10px;
  margin-left: 0;
}

/* #cta .description {
  font-size: 1.2rem;
  margin-left: 5px;
} */

#cta-buttons {
  display: flex;
  gap: 16px;
}

#cta-buttons a {
  text-decoration: none;
  color: #121212;
  margin: 0 ;
}

#phone-button {
  display: flex;
  gap: 2px;
  align-items: center;
  background-color: #ffff;
  padding: 10px 14px;
  font-weight: 500;
  box-shadow: 0px 0px 12px 4px rgb(0, 0, 0, 0.25);
  border-radius: 12px;

}

#phone-button button {
  box-shadow: none;
}

.banner {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 55%;
  padding: 2em;
  box-sizing: border-box;
}

.banner img {
  height: 90%;
  max-width: 100%;
  /* aspect-ratio: 1/1; */
  object-fit: cover;
  padding: 0;
  border-radius: 40px;
  margin: 0;
}

@media screen and (max-width: 1170px) {
  #home {
    min-height: 100%;
    padding-top: 0px;
  }
  .banner,
  .banner img {
    display: none;
  }

  #cta {
    width: 100%;
    text-align: center;
    align-items: center;
  }
}
